name: build

# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.

on:
  pull_request:
    branches: [ "main" ]

env:
  # Use docker.io for Docker Hub if empty
  REGISTRY: ghcr.io
  # github.repository as <account>/<repo>
  IMAGE_NAME: ${{ github.repository }}


jobs:
  build:

    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
      # This is used to complete the identity challenge
      # with sigstore/fulcio when running outside of PRs.
      id-token: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        
      # --- lire la version ---
      - name: Get application version
        id: read_version
        run: |
          # Installer yq pour parser le YAML
          sudo apt-get update && sudo apt-get install -y python3-pip
          pip3 install yq
          
          if [ -f version.yaml ]; then
            # Extraire la valeur 'app.version'
            APP_VERSION=$(yq '.app.version' version.yaml | sed 's/"//g')
            echo "Version lue: $APP_VERSION"
            # Exposer la version comme une sortie d'étape
            echo "APP_VERSION=$APP_VERSION" >> $GITHUB_OUTPUT
          else
            echo "::error::version.yaml non trouvé ou 'app.version' manquant."
            exit 1
          fi

      # Install the cosign tool except on PR
      # https://github.com/sigstore/cosign-installer
      - name: Install cosign
        uses: sigstore/cosign-installer@59acb6260d9c0ba8f4a2f9d9b48431a222b68e20 #v3.5.0
        with:
          cosign-release: 'v2.2.4'

      # Set up BuildKit Docker container builder to be able to build
      # multi-platform images and export cache
      # https://github.com/docker/setup-buildx-action
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@f95db51fddba0c2d1ec667646a06c2ce06100226 # v3.0.0

      # Login against a Docker registry except on PR
      # https://github.com/docker/login-action
      - name: Log into registry ${{ env.REGISTRY }}
        uses: docker/login-action@343f7c4344506bcbf9b4de18042ae17996df046d # v3.0.0
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      # Extract metadata (tags, labels) for Docker
      # https://github.com/docker/metadata-action
      - name: Extract Docker metadata
        id: meta
        uses: docker/metadata-action@96383f45573cb7f253c731d3b3ab81c87ef81934 # v5.0.0
        with:
          images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}
          tags: |
            type=raw,value=${{ steps.read_version.outputs.APP_VERSION }}
            type=raw,value=${{ github.event.pull_request.head.sha }}
            

      # Build and push Docker image with Buildx (don't push on PR)
      # https://github.com/docker/build-push-action
      - name: Build and push Docker image
        id: build-and-push
        uses: docker/build-push-action@0565240e2d4ab88bba5387d719585280857ece09 # v5.0.0
        with:
          context: .
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          cache-from: type=gha
          cache-to: type=gha,mode=max

      # Sign the resulting Docker image digest except on PRs.
      # This will only write to the public Rekor transparency log when the Docker
      # repository is public to avoid leaking data.  If you would like to publish
      # transparency data even for private images, pass --force to cosign below.
      # https://github.com/sigstore/cosign
      - name: Sign the published Docker image
        env:
          # https://docs.github.com/en/actions/security-guides/security-hardening-for-github-actions#using-an-intermediate-environment-variable
          TAGS: ${{ steps.meta.outputs.tags }}
          DIGEST: ${{ steps.build-and-push.outputs.digest }}
        # This step uses the identity token to provision an ephemeral certificate
        # against the sigstore community Fulcio instance.
        run: echo "${TAGS}" | xargs -I {} cosign sign --yes {}@${DIGEST}

  promote:
    runs-on: ubuntu-latest
    # Le GITHUB_TOKEN a besoin de la permission 'workflows' en 'write'
    permissions:
      contents: read
      actions: write
    needs: build
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        
      - name: Get application product
        id: read_product
        run: |
          # Installer yq pour parser le YAML
          sudo apt-get update && sudo apt-get install -y python3-pip
          pip3 install yq
          
          if [ -f version.yaml ]; then
            # Extraire la valeur 'app.version'
            APP_VERSION=$(yq '.app.version' version.yaml | sed 's/"//g')
            echo "Version lue: $APP_VERSION"
            
            # Extraire la valeur 'app.product'
            APP_PRODUCT=$(yq '.app.product' version.yaml | sed 's/"//g')
            echo "Product lue: $APP_PRODUCT"
            # Exposer la version comme une sortie d'étape
            echo "APP_PRODUCT=$APP_PRODUCT" >> $GITHUB_OUTPUT
            echo "APP_VERSION=$APP_VERSION" >> $GITHUB_OUTPUT
          else
            echo "::error::version.yaml non trouvé ou 'app.product' manquant."
            exit 1
          fi

      - name: Generate GitHub App Token
        id: generate_token
        uses: actions/create-github-app-token@v1
        with:
          app-id: ${{ secrets.GH_APP_ID }}
          private-key: ${{ secrets.GH_APP_PRIVATE_KEY }}
          repositories: ${{ steps.read_product.outputs.APP_PRODUCT }}
          
      - name: Dispatch Workflow
        uses: actions/github-script@v6
        with:
          github-token: ${{ steps.generate_token.outputs.token }}
          script: |
            github.rest.actions.createWorkflowDispatch({
              owner: "${{ github.repository_owner }}", 
              repo: "${{ steps.read_product.outputs.APP_PRODUCT }}", 
              workflow_id: 'update_image.yml', 
              ref: "${{ steps.read_product.outputs.APP_VERSION }}",
              inputs: {
                "image_name": "ghcr.io/${{ github.repository }}",
                "new_tag": "${{ github.event.pull_request.head.sha }}",
                "kustomization_path": "clusters/home-ovv",
                "jira_issue": "${{ github.event.pull_request.head.ref }}"
              }
            })
            
